<div class="container">
  <h1 class="title">Welcome to Auth-Experiment!</h1>
  <div class="alert alert-warning">
    <p class="message">Hello</p>
  </div>
</div>
<div class="container flex-raw-container">
  <a href="/register" class="btn btn-primary">Register</a>
  <a href="/login" class="btn btn-primary">Login</a>
</div>
